/atome.xcodeproj/project.xcworkspace/xcuserdata/jean-ericgodard.xcuserdatad/UserInterfaceState.xcuserstate
/atome.xcodeproj/xcuserdata/jean-ericgodard.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
